fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pydantic-settings
celery
redis
ortools
python-multipart
passlib[bcrypt]
pyjwt
weasyprint
icalendar
aiosqlite
python-jose[cryptography]
pydantic[email]
psycopg2-binary
python-dotenv
